{% extends 'base.html' %}

<body>
{% block content %}
    <div class="masonry">
        {% for user in template_users %}
            <div class="item">
                <object data="{{ img_storage.child('images/users/'+user.key()).get_url(None) }}"
                        type="image/png"
                        style="max-width: 200px; max-height: 200px">
                    <img src="https://via.placeholder.com/200x100">
                </object>
                <h4><a href={{ url_for('user.read_user', user_id=user.key()) }}>{{ user.val()['username'] }}</a></h4>
                <p>{{ user.val()['bio'] }}</p>
                <p><i>{{ user.val()['citystate'] }}</i></p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}

</body>