<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <title>{{ user['username'] }}</title>
</head>
<body>
<div style="padding: 32px">
    <h1>{{ user['username'] }}</h1>

    <div class="container-fluid">
        <div class="row font-italic">
            {% for tag in user['tags'] %}
                {{ tag+',' }}
            {% endfor %}
        </div>
    </div>
    <h3>{{ user['citystate'] }}</h3>
    <img src={{ user_img_url }} height="auto" width="250" alt="user image">
    <p class="font-italic">{{ user['bio'] }}</p>
</div>
</body>
</html>